# Dependências
node_modules/

# Build
dist/

# Ambiente
.env
.env.local
.env.*.local

# Uploads
uploads/

# Logs
*.log
npm-debug.log*

# Prisma generated
/generated/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
